
.center {
    text-align: center;
    margin: auto;
    width: 100%;
    /* border:3px solid #73AD21; */
    padding: 10px 0px 15px 0px;
}

.top-buttons {
      text-align: center;
      padding: 0px 0px 10px 0px;
      font-size: 21px;
      color: #000;
    margin: 0 auto;

}

.login-button {
      padding: 0 0 0 0;
      font-size: 21px;
      color: #000;
}
.signup-button {
      padding: 0px 0 0 0px;
      font-size: 21px;
      color: #000;
}

.marketing {
         width: 80%;
      margin: 40px 0;
      margin: 0 auto;
}
.marketing p + h4 {
  margin-top: 28px;
}


.divider{
    width:5px;
    height:auto;
    display:inline-block;
}

.profile-image {
    width: 90%;
    height: auto;
}


.footer {
    margin-top: 30px;
    padding: 10px 0 0 0;
    background: #ff9900;
    color: #fff;
    height: 100px;

}


.username-heading {
    padding: 0 0 0 60px;
}

.sign-up {

    margin: auto;
    width: 50%;
    /* border:3px solid #73AD21; */
    padding: 10px 0px 15px 0px;
}

.participant-email {
  display: block;
  width: 60%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.participant-email:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.participant-email::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.participant-email:-ms-input-placeholder {
  color: #999;
}
.participant-email::-webkit-input-placeholder {
  color: #999;
}
.participant-email[disabled],
.participant-email[readonly],
fieldset[disabled] .form-control {
  background-color: #eee;
  opacity: 1;
}
.participant-email[disabled],
fieldset[disabled] .form-control {
  cursor: not-allowed;
}
